{% extends 'base.html.twig' %}

{# {% form_theme form _self %} #}

{% block body %}
	<div class="container">
		<h1>
			New Product
		</h1>

		{# {{ form(form)}} #}

		{{ form_start( form ) }}

		{{ form_errors( form ) }}

		{# {{ form_widget( form ) }} #}
		{{ form_row( form.name ) }}

		<p>
			Lorem ipsum emo obcaecati ipsum v nihil saepe explicabo maxime quibusdam eum in. Nulla soluta non omnis vitae.
		</p>
		{{ form_row( form.mainPicture ) }}
		{{ form_row( form.shortDescriotion ) }}
		{{ form_row( form.price ) }}
		{{ form_row( form.category ) }}


		<button type="submit" class="btn btn-success my-3">
			<i class="fas fa-save"></i>
			Create Produict</button>
		{{ form_end( form ) }}


	</div>

{% endblock %}


{# {% block form_row %}
	<div class="form-group">
		{{ form_label( form ) }}
		{{ form_widget( form , { 'attr': {'class': 'form-control'} }) }}
		{{ form_help( form ) }}
		{{ form_errors( form ) }}
	</div>
{% endblock %} #}
