{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block body %}

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#">Accueil</a>
		</li>
		<li class="breadcrumb-item">
			<a href="#">{{ product.category.name  }}</a>
		</li>
		<li class="breadcrumb-item active">{{ product.name }}</li>
	</ol>


	<div class="container">
		<h1 class="example-wrapper">
			{{ product.name }}
			(
			{{ product.price / 100}}
			&euro;)
		</h1>

		<div class="row">
			<div class="col-md-5">
				<img class="image-fuild" src="{{product.mainPicture}}" alt="image de {{product.name}} ">
			</div>
			<div class="col-md-6">
				<span class="badge bg-info">
					{{ product.category.name }}</span>
				<p>
					{{ product.shortDescriotion}}
				</p>

				<a href="{{path('cart_add',{'id': product.id })}}" class="btn btn-success btn-lg">
					<i class="fas fa-shopping-cart"></i>
					Ajouter au panier
				</a>
			</div>
		</div>


	</div>

{% endblock %}
